@import'../modules/colors';

.contact{
  @include container;
  padding:  5em 0;
  h1{
    text-align: center;
  }
}
label{
  display: block;
  margin-top:  1em;
  color: $drak-gray;
}

form{
  display: flex;
  flex-direction: column;
  @supports(display: grid){
    @include mq{
      display: grid;
      grid-column-gap: 1em;
      grid-template-areas:
        "name     email"
        "message  message"
        "   .     button";
        .name{
          grid-area: name;
        }
        .email{
          grid-area: email;
        }
        .message{
          grid-area: message;
          textarea{
            height: 10em;
          }
        }
        .button{
          grid-area: button;
        }
    }
  }
}

input,
textarea{
  box-sizing: border-box;
  display: block;
  padding: .75em;
  width: 100%;
  background:lighten($light-gray, 5%);
  border: 1px solid $light-gray;
  font-size: 1.2rem;
}

.button{
  display: block;
  width: auto;
  margin-top: 1em;
  margin-left: auto;
  border: none;
  transition: all 2s ease;
  background: $accent;
  border-radius: 5px;
  //background: red;
  transition: border-radius 1s;
  &:hover{

    /*background: $drak-gray;/**;**/
    border-radius: 10px;
    background-color: $dark-blue;
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;

  }
  @include sans-serif($fs:2em,$color:$white);
  padding: .5em 1.5em;
}
