.menu-button{
  position: absolute;
  top: 3em;
  left: 3em;
  background: transparent;
  border: 0;
}
.menu-button:focus{
  outline: none;
}
nav{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 30%;
  z-index: 10;

  //The nav will disappear to left side
  transform: translateX(-100%);
  transition: transform ease-out 260ms;
}
nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  align-items: stretch;
  background: $accent;
}
nav li{

  text-align: center;
  transition: all 1s ease;
  &:not(:last-of-type){
    border-bottom:  1px solid $dark-blue;
  }
}

nav li:hover{
  background: rgba($dark-blue,.5);
}
nav a{
  @include sans-serif($fs: 3rem,$color:$dark-blue);
  display: inline-block;
  text-decoration: none;
  padding: calc(100vh/8) 0;
  line-height: 0;
  width: 100%;
}
nav a:hover{
  color: $light-gray;
}
.close-icon{
  display: none;
}
.nav-is-open{

  height: 100vh;
  overflow-y: hidden;

  nav{
    //The nav will appear form left side
    transform: translateX(0);
  }


  .container-all{
    transform: translateX(70%);
  }
  .hamberger{
    display: none;

  }
  .close-icon{
    display: block;
  }
  .menu-button{
    transform: translateX(-60%);
  }
}

//.container-all{
//  transition: transform ease-in 260ms;
//}
